[submodule "libopencm3"]
	path = libopencm3
	url = https://github.com/libopencm3/libopencm3.git
[submodule "pms5003"]
	path = pms5003
	url = https://github.com/fornellas/pms5003.git
[submodule "mh-z19c"]
	path = mh-z19c
	url = https://github.com/fornellas/mh-z19c.git
[submodule "eglib"]
	path = eglib
	url = https://github.com/fornellas/eglib.git
[submodule "libopencm3-fpo"]
	path = libopencm3-fpo
	url = https://github.com/fornellas/libopencm3-fpo.git
